/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
/* HTML5 display-role reset for older browsers */
html, body {
  background rgba(247, 247, 247, 1);
  //user-select text;
}

body {
  padding-bottom 10px;
}

.clear:after {
  content ""
  display table
  clear both
}

.fr {
  float right !important
}

.fl {
  float left !important
}

.height0 {
  height 0 !important
}

.padding0 {
  padding 0 !important
}

/*动画*/
.transition {
  transition all .5s
}

.rotate180 {
  transform rotate(180deg) !important
  transform-origin: center center;
}

.rotate360 {
  transform-origin: center center;
  transform rotate(360deg) !important
}

button {
  outline: none
}
